<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            SEVA
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a href="#!/home">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-6">
          <a href="https://github.com/pavanchokshi/SEVA" target="_blank">
            Github
          </a>
        </div>
          
<!--
        <div class="col-xs-6">
          <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
            About
          </a>
        </div>
        
-->
      </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown ng-controller="userctrl">
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Admin
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#" ng-click="logout()">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
<!--
              <div class="item dropdown" uib-dropdown>
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div>
-->
            </div>
            <div class="meta">
              <div class="page">
                Admin Dashboard
              </div>
              
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div class="row" ng-controller="userctrl">
	<div class="col-lg-6 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div ng-repeat="user in greeting | filter: {'isVolunteer': false} as result"></div><div class="title">{{result.length}}</div>
				<div class="comment">Users</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div ng-repeat="user in greeting | filter: {'isVolunteer': true} as result"></div><div class="title">{{result.length}}</div>
				<div class="comment">Volunteers</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	
</div>

<div class="row">
	<div class="col-lg-6" ng-controller="userctrl">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="Users">
				
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive"  >
                    <input type="text" style="left-padding:10px" class="form-control input-sm" placeholder="Search" ng-model="searchname" />   
					<table class="table">
                        <thead>
							<tr><th class="text-left">Name</th><th>Device</th><th>Activity</th></tr>
						</thead>
						<tbody ng-repeat="user in greeting | filter: {'firstName': searchname} | filter: {'isVolunteer': false}  " >
                            <tr><td><a ng-href="#!/users?username={{user.userName}}" ng-model="user.userName">{{user.firstName}} {{user.lastName}}</a></td><td>Android wear</td><td><a class="btn pull-left" ng-class="{true: 'btn-primary', false: 'btn-danger'}[!patient.activate]" ng-click="patient.activate = !patient.activate">{{!patient.activate && 'Activate' || 'Disable'}} User</a></td></tr>
<!--                            <span ng-model="class1" class={{class1}}><i ng-model="class2" class={{class2}}></i></span>-->
						</tbody>
                        
					</table>
                </div>
				<!--</div>-->
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6" ng-controller="userctrl2">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Volunteers">
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive"  ng-controller="userctrl2">
                    <input type="text" class="form-control input-sm" placeholder="Search" ng-model="searchvol" /> 
					<table class="table">
                        
                        <thead>
							<tr><th class="text-left">Name</th><th>Activity</th></tr>
						</thead>
						<tbody ng-repeat="volunteer in greeting | filter: {'firstName': searchvol} | filter: {'isVolunteer': true}">
                            <tr><td><a ng-href="#!/volunteers?volname={{volunteer.userName}}" ng-model="volunteer.userName">{{volunteer.firstName}} {{volunteer.lastName}}</a></td><td><a class="btn pull-left" ng-class="{true: 'btn-primary', false: 'btn-danger'}[!volunteer.activate]" ng-click="volunteer.activate = !volunteer.activate">{{!volunteer.activate && 'Activate' || 'Disable'}} Volunteer</a></td></tr>
						</tbody>
                        
					</table>
				</div>
			</rd-widget-body>
        </rd-widget>
	</div>
</div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div>