<div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            SEVA
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a href="#!/home">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
          
<!--
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/blob/master/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
-->
      </div>
    </div>

    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Admin
                  </li>
                  <li class="divider"></li>
<!--
                  <li class="link">
                    <a href="#">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="divider"></li>
-->
                  <li class="link">
                    <a href="#">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
<!--
              <div class="item dropdown" uib-dropdown>
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div>
-->
            </div>
            <div class="meta">
              <div class="page">
                Admin Dashboard
              </div>
              
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div class="row" ng-controller="eachvolctrl">
    <div class="table-responsive"  ng-controller="eachvolctrl">
                    
        <p></p><br>
        
					<table class="table">
                        <thead>
							<tr><th class="text-left" style="font-size:34px">User Details</th></tr>
						</thead>
						<tbody style="border:0px">
                            
                            <tr><td><b>Name: </b></td><td>{{answer.firstName}} {{answer.lastName}}</td></tr><tr><td><b>Date of Birth: </b></td><td>{{answer.dob}}</td></tr>
                            <tr><td><b>Gender: </b></td><td>{{answer.gender}}</td></tr>
                            <tr><td><b>Address: </b></td><td>{{answer.address1}}<br>{{answer.address2}}<br>{{answer.city}} , {{answer.state}} {{answer.zip}}</td></tr>
                            
                             <tr><td><b>Phone Number: </b></td><td>{{answer.phone}}</td></tr>
                             
						</tbody>
					</table>
               
				</div>
           
          </div>

           <div class="row" ng-controller="rqstctrl2">
    <div class="table-responsive"  ng-controller="rqstctrl2">
                    
        <p></p><br>
        
					<table class="table">
                        <thead>
							<tr><th class="text-left" style="font-size:34px">Response Details</th></tr>
						</thead>
						<tbody style="border:0px">
                            <th class="text-left">Request Sent By</th><th>Responded At</th>
                            <tr ng-repeat="contact in req | filter: {'acceptedBy': name}"><td>{{contact.raisedBy}}</td><td>{{contact.raisedOn}}</td></tr>
                        </tbody>
					</table>
               
				</div>
           </div>
                            

<!--       End Page Content -->

    </div><!-- End Content Wrapper -->
  </div>